<script type="text/javascript" src="jq.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>

{{#section 'head'}}
<script src="handlebars.js" type="text/javascript"></script>

<script id="installlationTemplate" type="text/x-handlebars-template">
    <h1> Installations</h1>
    <h2>available for Station: \{{sssid}}</h2>
    <p1>
        \{{#each binstallations}}
        <form name="build" action="/install1" method="post">
            <input type="hidden" name="sid" id="sid" value=\{{sssid}}>

            <h3>\{{name}}</h3>
            <h3>\{{description}}</h3>

            <input type="hidden" name="_id" id="_id" value=\{{_id}}>

            <button type="submit" class="btn btn-default">Build</button>
        </form>
        <img src="\{{{graphic}}}">
        \{{/each}}

    </p1>

</script>

{{/section}}
<!--<div id="1" class="center"></div>-->
<title>Infinite Space</title>

<!-- LOCAL INFORMATION -->


<div id="Resour">
    <ul id="banner">
        <li class="resources">DarkMatter:{{darkMatter}}+{{ddarkMatter}}</li>
        <li class="resources">Minerals:{{minerals}}+{{dminerals}}</li>
        <li class="resources">Food:{{food}}+{{dfood}}</li>
        <li class="resources"> Water:{{water}}+{{dwater}}</li>
        <li class="resources">Oxygen:{{oxygen}}+{{doxygen}}</li>
        <li class="resources">Energy:{{energy}}+{{denergy}}</li>
        <li class="resources">Galactic Currency:{{currency}}+{{dcurrency}}</li>
        <li class="resources">Station Levels:{{levels}}</li>
        <li class="resources">Location (x,y,z):{{X}},{{Y}},{{Z}}</li>
        <a href="/profile">
            <button type="submit" class="btn btn-default">Profile</button>
        </a>
        <form name="install" id="install" role="form" action="/install" method="post">
            <input type="hidden" name="sid" id="sid" value={{sid}}>
            <button id="btnBuildAjax" value="build" type="submit" class="btn btn-default">Build</button>
        </form>
    </ul>

</div>

<div style="text-align:center" id="stationPG" class="col-md-6">

    <p id="sName">{{stationname}}</p>
    {{#installations}}
    <h3>{{name}}</h3>
    <h3>{{description}}</h3>
    <img src="{{{graphic}}}">

    {{/installations}}

</div>

<div style="text-align:center" id="contextual" class="col-md-6">
    <p>Do Stuff</p>

</div>


{{#if error}}
<div class="center">{{error}}</div>
{{/if}}


<br />

<div id="1">
    <p2>
        <a href="/logout">
            <button type="submit" id="logoutBtn" class="btn btn-default">Log Out</button>
        </a>
    </p2>

</div>
{{#section 'jquery'}}
<script>
    $(document).ready(function () {

        var installlationTemplate = Handlebars.compile(
            $('#installlationTemplate').html());

        var $contextual = $('#contextual');

        $('#install').on('submit', function (evt) {
            evt.preventDefault();
            var action = $(this).attr('action');
            $.ajax({
                url: action,
                type: 'POST',
                data: $(this).serialize(),
                success: function(data){
                    if (data) {
                        $contextual.html(installlationTemplate(data));
                    } else {
                        $contextual.html('There was a problem. inner');
                    }
                },
                error: function () {
                    $contextual.html('There was a problem. outer');
                }
            });
        });

    });
</script>
{{/section}}










