
    <!--<div id="1" class="center"></div>-->
    <title>Infinite Space</title>

    <!-- LOCAL INFORMATION -->
    

    <div id="Resour" >
        <ul id="banner">

            <li class="resources">DarkMatter:{{darkMatter}}</li>
            <li class="resources">Minerals:{{minerals}}</li>
            <li class="resources">Food:{{food}}</li>
            <li class="resources"> Water:{{water}}</li>
            <li class="resources">Oxygen:{{oxygen}}</li>
            <li class="resources">Energy:{{energy}}</li>
            <li class="resources">Galactic Currency:{{currency}}</li>
            <li class="resources">Station Levels:{{levels}}</li>
            <li class="resources">Location (x,y,z):{{X}},{{Y}},{{Z}}</li>
            <a href="/profile">
                <button type="submit" class="btn btn-default">Profile</button>
            </a>
            
        </ul>
        
    </div>



  <h1 class="center">
    {{stationname}}
        <br>
      <form name="install" action="/install" method="post">
          <input type="hidden" name="sid" id="sid" value={{sid}}>
          <button type="submit" class="btn btn-default">Build</button>
      </form>
</h1>

{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
 



<div id="1" class="center">
    <p2>
        <a href="/logout">
            <button  type="submit" id="logoutBtn" class="btn btn-default">Log Out</button>
        </a>
    </p2>

</div>
    
         


     
