
    <div id="1" class="center">
    <title>Infinite Space</title>
    <h1>{{name}}
     <br>
     {{race}}
     </h1>
</div>
</head>
{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
<p3>
    <!-- LOCAL INFORMATION -->
    DarkMatter:{{darkMatter}} 
    Minerals:{{minerals}}
    Food:{{food}}
    Water:{{water}}
    Oxygen:{{oxygen}}
    Energy:{{energy}}
    Galactic Currency:{{currency}}
    Station Levels:{{levels}}
    Location (x,y,z):{{X}},{{Y}},{{Z}}
</p3>


<div id="1" class="center">
    <p2>
            <form action="/">
                <input type=submit value="SignOut"><a href="/"></a>
            </form>
    </p2>

</div>
    
         


     
