
    <!--<div id="1" class="center"></div>-->
    <title>Infinite Space</title>

    <!-- LOCAL INFORMATION -->
    <div id="Resour">
        <ul id="banner">
            <li class="resources" id="{{ddarkMatter}}" >DarkMatter:{{darkMatter}}+{{ddarkMatter}}</li>
            <li class="resources" id="{{dminerals}}" >Minerals:{{minerals}}+{{dminerals}}</li>
            <li class="resources" id="{{dfood}}" >Food:{{food}}+{{dfood}}</li>
            <li class="resources" id="{{dwater}}" > Water:{{water}}+{{dwater}}</li>
            <li class="resources" id="{{doxygen}}" >Oxygen:{{oxygen}}+{{doxygen}}</li>
            <li class="resources" id="{{denergy}}" >Energy:{{energy}}+{{denergy}}</li>
            <li class="resources" id="{{dcurrency}}" >Galactic Currency:{{currency}}+{{dcurrency}}</li>
            <li class="resources">Station Levels:{{levels}}</li>
            <li class="resources">Location (x,y,z):{{X}},{{Y}},{{Z}}</li>
            <a href="/profile">
                <button type="submit" class="btn btn-default">Profile</button>
            </a>

            <!-- Install button -->

            <form name="install" action="/install" method="post">
                <input type="hidden" name="sid" id="sid" value={{sid}}>
                <button type="submit" class="btn btn-default">Build</button>
            </form>

            <!-- Install button -->
        </ul>
    </div> 

<!-- Left side menu -->
<div style="text-align:center" id="stationPG" class="col-md-6">

    <p id="sName">{{stationname}}</p>
    {{#installations}}
   
    <form name="build" action="/update" method="post">
        

        <h3>{{name}}</h3>
        <h3>{{description}}</h3>
        <img src="{{{graphic}}}">
        <h3>Level {{level}}</h3>

        <input type="hidden" name="sid" id="sid" value="5554cbc13f02420da68d8e5a">
        <input type="hidden" name="_id" id="_id" value={{_id}}>

        <button type="submit" class="btn btn-default">upgrade</button>
    </form>

    {{/installations}}
    
</div>
<!-- Left side menu -->

<!-- Right side menu -->
<div style="text-align:center" id="contextual" class="col-md-6">
    <p>Do Stuff</p>

</div>
<!-- Right side menu -->
 

{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
 

<br/>

<div id="1">
    <p2>
        <a href="/logout">
            <button  type="submit" id="logoutBtn" class="btn btn-default">Log Out</button>
        </a>
    </p2>

</div>
    
         


     
