
    <div id="1" class="center"></div>
    <title>Infinite Space</title>
    <h1>{{name}}
     <br>
     {{race}}
     </h1>


{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
 
<p3>
    <!-- LOCAL INFORMATION -->
   <ul class="resources">
    <li>DarkMatter:{{darkMatter}}</li> 
    <li>Minerals:{{minerals}}</li>
    <li>Food:{{food}}</li>
    <li> Water:{{water}}</li>
    <li>Oxygen:{{oxygen}}</li>
    <li>Energy:{{energy}}</li>
    <li>Galactic Currency:{{currency}}</li>
    <li>Station Levels:{{levels}}</li>
    <li>Location (x,y,z):{{X}},{{Y}},{{Z}}</li>
   </ul>
</p3>


<div id="1" class="center">
    <p2>
            <form action="/">
                <input type=submit value="SignOut"><a href="/"></a>
            </form>
    </p2>

</div>
    
         


     
