
<h1> Installations</h1> 
<h2>available for Station: {{sid}}</h2>
	<p1>
    {{#if error}}
        <div class="center">{{error}}</div>
    {{/if}}
{{#each installations}}
    <h3>{{name}}</h3>
    <p>{{description}}</p>
        <img src ="{{{graphic}}}">
    
{{/each}}
</p1>



